<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/indexEstilo.css') }}"/>
    <title> LOGIN - Inventario Mahindra Mahindra</title>
</head>
<body>
    <header class="header">
        <div class="container1">
            <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="">
        </div>
        <div class="container2">
            <p class="textocentral">Mahindra Mahindra</p>
        </div>
        <div class="container3">
            <img src="{{ url_for('static', filename='assets/avatar.png') }}" alt="">
        </div>
        <div class="container4"></div>
        </div>
        </div>
    </header>
    <form name="frmeg" id="frmeg" method="POST" action="/">
        <div class="box">
            <h2 id="title" style="text-align: center;">INVENTARIO MAHINDRA MAHINDRA</h2>
            <div class="ppal">
                <div class="fila">
                    <div class="c3"><label>Usuario</label></div>
                    <div class="c7"><input type="text" id="usrtext" name="nomtxt"/></div>
                </div>
                <div class="fila">
                    <div class="c3"><label>Contraseña</label></div>
                    <div class="c7"><input type="password" id="psswtext" name="psswctxt"/></div>
                </div>
            </div>
                <div class="boton">
                    <div class="c4"><label>&nbsp;</label></div>
                    <div class="c8"><input type="button" value="Ingresar" title="Click para ingresar" id="loginbutton" onclick="location.href='/principal/';" /></div>
                </div>
    </form>
    <footer class="footer">
        <div class="contatiner">
        </div>
    </footer>
</body>
</html>