{% extends "plantillabase.html" %}
{% block cuerpo %}
    <div class="box">
        <h2 id="title" style="text-align: center;">INVENTARIO MAHINDRA MAHINDRA</h2>
        <form name="frlogin" id="frlogin" method="POST" action="/">
            <div class="ppal">
                <div class="fila">
                    <div class="c3"><label>{{ form.usr.label }}</label></div>
                    <div class="c7">{{ form.usr(size=40, minlenght=5, maxlength=40) }}</div>
                </div>
                <div class="fila">
                    <div class="c3">{{ form.pwd.label }}</div>
                    <div class="c7">{{ form.pwd(size=40, minlenght=8, maxlength=40) }}</div>
                </div>
            </div>
                <div class="boton">
                    <div class="c4"><label>&nbsp;</label></div>
                    <div class="c8">{{ form.btn()}}</div>
                </div>
        </form>
{% endblock %} 
    <footer class="footer">
        <div class="contatiner">
        </div>
    </footer>
</body>
</html>