<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstiloPrincipal.css') }}" />
    <title>Página principal - Inventario Mahindra Mahindra</title>
</head>
<body>
    <header class="header">
        <div class="container1">
            <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="">
        </div>
        <div class="container2">
           <nav class="navigation">
               <ul>
                <li><a>MENÚ</a></li>
                <li><a>&nbsp;</a></li>
                <li><a>&nbsp;</a></li>
                <li><a>&nbsp;</a></li>
                <li><a class="option" href="/dashboard/">Dashboard</a></li>   
                <li><a>&nbsp;</a></li>
                <li><a>&nbsp;</a></li>
                <li><a>&nbsp;</a></li>
                <li><a class="option" href="/usuarios/">Usuarios</a></li>
                <li><a>&nbsp;</a></li>
                <li><a>&nbsp;</a></li>
                <li><a>&nbsp;</a></li>
                <li><a class="option" href="/productos/">Productos</a></li>
                <li><a>&nbsp;</a></li>
                <li><a>&nbsp;</a></li>
                <li><a>&nbsp;</a></li>
                <li><a class="option" href="/proveedores/">Proveedores</a></li>
               </ul>
           </nav>
        </div>
        <div class="container3">
            {% if titulo %}
            <img src="{{ url_for('static', filename='assets/avatar.png') }}" alt="" title="{{ titulo }}">
            {% else %}
            <img src="{{ url_for('static', filename='assets/avatar.png') }}" alt="" title="Mr">
            {% endif %}
            {% if titulo %}
            <p class="textocentral" style="text-align: center; font-size:xx-small;margin-top: 0px;"> {{ titulo }}</p>
            {% else %}
            <p class="textocentral" style="text-align: center;">Mr</p>
             {% endif %}
        </div>
        <div class="container4"></div>
            <input class="btn" type="button" value="Cerrar sesión" style='width:120px; height:40px' onclick="location.href='/';"/>
        </div>
        </div>
    </header>
    <video id="imgauto" autoplay muted loop><source src="{{ url_for('static', filename='videos/Background.mp4') }}" type="video/mp4"></video>
    <video id="imgauto" autoplay muted loop><source src="{{ url_for('static', filename='videos/video2.mp4') }}" type="video/mp4"></video>
    <img id="autoprincipal" src="{{ url_for('static', filename='assets/principal2.png') }}" alt="">
    <img id="autoprincipal" src="{{ url_for('static', filename='assets/principal.png') }}" alt="">
    <footer class="footer">
        <div class="contatiner">
        </div>
    </footer>
</body>
</html>